@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --color-fg: #e3e3e3; 
    --color-bg: #1b1b1d;
    --color-ghost: #444950; 
    --color-ghostbg: #242526; 
    --color-primary: #029919;
    --color-secondary: #43D051; 
}

html, body {
    background: #1b1b1d; 
    background-size: cover;
}

*{
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
}
